html {font-family: arial;
}

body {
background: ivory;
      color: grey;
}


header {font-size: 20px;
margin: auto;
width: 50%; 
border: 2px dashed #DF01A5;
      padding: 5px 5px 5px 5px;
      border-radius: 15px;
      text-align: center;
      background: ivory;
}

.pic{
 background-image: url("jinkujanku.jpg");
  border: dotted 2px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  margin-left: 20%;
}


ol {list-style-type: upper-alpha;
      font-size: 14px; }


p {color: darkblue;
      font-size: 16px;
 }

.right {float: right; 
      padding: 2px;
      background: #F2F2F2;
}

#file1 {float: right;
      accent-color: #DF01A5;
}

#file2 {float: right;
      accent-color: #DF01A5;
    }

#file3 {float: right;
      accent-color: #DF01A5;
     }

#file4 {float: right;
      accent-color: #DF01A5;
     }

#file5 {float: right;
      accent-color: #DF01A5;
}

#file6 {float: right;
      accent-color: #DF01A5;
    }


ul {list-style-type: square;
      font-size: 14px; }

#end {font-style: italic;
      font-size: 12px;
}

      
.korppi{
background-image: url("korppijakarjalainen.jpg");
      height: 400px;
      width: 200px;
      background-position: center;
      background-repeat: no-repeat; 
      }

#rivi {font-size: 12px;
      font-style: italic;
      margin-left: 10%;
}

#korppikarja {font-size: 12px;
      font-style: italic;
      margin-left: 10%;
}

.license {color: darkblue;
      background: ivory;
      font-size: 16px;
}

#back {border: 2px solid #56099F;
      padding: 5px 5px 5px 5px;
      border-radius: 15px;
      text-align: center;
      width: 50%;
}

footer {background: #FFF0F5;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
}


#contact {font-size: 16px;
}


