      
body {
background: ivory;
      color: grey;
}

h1 {font-size: 21px;
margin: auto;
width: 50%; 
}

h2 {color: purple; }

#mainline {color: darkblue;}

ol {list-style-type: alpha}

#bestthings {color: darkblue;
background: lavender; }

ul {list-style-type: square; }
