html {font-family: arial;
}

body {
background: ivory;
      color: grey;
}

#left {background: lavender;
      float: left;
}

header {font-size: 20px;
margin: auto;
width: 50%; 
border: 2px dashed #DF01A5;
      padding: 5px 5px 5px 5px;
      border-radius: 15px;
      text-align: center;
      background: ivory;
}



ol {list-style-type: upper-alpha;
      font-size: 14px; }


p {color: darkblue;
      font-size: 16px;
 }

aside {float: right;
      background: ivory;
}

#file1 {float: right;
      accent-color: #DF01A5;
}

#file2 {float: right;
      accent-color: #DF01A5;
    }

#file3 {float: right;
      accent-color: #DF01A5;
     }

#file4 {float: right;
      accent-color: #DF01A5;
     }

#file5 {float: right;
      accent-color: #DF01A5;
}

#file6 {float: right;
      accent-color: #DF01A5;
    }

.pic{
 background-image: url("jinkujanku.jpg");
  border: dotted 2px;
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}


ul {list-style-type: square;
      font-size: 14px; }

#end {font-style: italic;
      font-size: 12px;
}

      
.korppi{
background-image: url("korppijakarjalainen.jpg");
      height: 400px;
      width: 200px;
      background-position: center;
      background-repeat: no-repeat; 
      }

#figure {font-size: 12px;
      font-style: italic;
}

#license {color: darkblue;
      background: #E2A9F3;
      font-size: 16px;
}

#back {border: 2px solid #56099F;
      padding: 5px 5px 5px 5px;
      border-radius: 15px;
      text-align: center;
      width: 50%;
}

footer {background: #FFF0F5;
      float: right;
}


#contact {font-size: 16px;
}


